# {{ ansible_managed }}
logoutput: {{ dante_log_output | join(' ') }}

{% for interface in dante_interface_external %}
external: {{ interface }}
{% endfor %}

{% for interface in dante_interface_internal %}
internal: {{ interface.interface }} port = {{ interface.port }}
{% endfor %}

user.notprivileged: {{ dante_user }}

clientmethod: {{ dante_auth_client }}
socksmethod: {{ dante_auth_server }}

# -----------------------------------------------------------------------------
# route rules
# -----------------------------------------------------------------------------
{% for rule in dante_rule_route -%}
{% if rule.comment is defined -%}
# {{ rule.comment }}
{% endif -%}
route {
  from: {{ rule.from | default('0.0.0.0/0', true) }}
  to: {{ rule.to | default('0.0.0.0/0', true) }}
  via: {{ rule.via }}
  {% if rule.protocol is defined -%}
  protocol: {{ rule.protocol }}
  {% endif -%}
  {% if rule.proxyprotocol is defined -%}
  proxyprotocol: {{ rule.proxyprotocol }}
  {% endif -%}
  {% if rule.socksmethod is defined -%}
  socksmethod: {{ rule.socksmethod }}
  {% endif -%}
}

{% endfor %}

# -----------------------------------------------------------------------------
# client rules
# -----------------------------------------------------------------------------
{% for rule in dante_rule_client -%}
{% if rule.comment is defined -%}
# {{ rule.comment }}
{% endif -%}
client {{ rule.block is defined and rule.block and 'block' or 'pass' }} {
  from: {{ rule.from | default('0.0.0.0/0', true) }}
  to: {{ rule.to | default('0.0.0.0/0', true) }}
  log: {{ rule.log | default('error connect disconnect', true) }}
  {% if rule.clientmethod is defined -%}
  clientmethod: {{ rule.clientmethod }}
  {% endif -%}
  {% if rule.group is defined -%}
  group: {{ rule.group }}
  {% elif rule.user is defined -%}
  user: {{ rule.user }}
  {% endif -%}
}

{% endfor %}

# -----------------------------------------------------------------------------
# server rules
# -----------------------------------------------------------------------------
{% for rule in dante_rule_server -%}
{% if rule.comment is defined -%}
# {{ rule.comment }}
{% endif -%}
socks {{ rule.block is defined and rule.block and 'block' or 'pass' }} {
  from: {{ rule.from | default('0.0.0.0/0', true) }}
  to: {{ rule.to | default('0.0.0.0/0', true) }}
  log: {{ rule.log | default('error', true) }}
  {% if rule.command is defined -%}
  command: {{ rule.command }}
  {% endif -%}
  {% if rule.socksmethod is defined -%}
  socksmethod: {{ rule.socksmethod }}
  {% endif -%}
  {% if rule.group is defined -%}
  group: {{ rule.group }}
  {% elif rule.user is defined -%}
  user: {{ rule.user }}
  {% endif -%}
}

{% endfor %}
